benchmarks/**/*.log
# Support for Project snippet scope
.vscode/*.code-snippets

# Ignore code-workspaces
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

benchmarks/raboniel/*.kiss
benchmarks/raboniel/*.tsl
benchmarks/raboniel/*.tlsf
benchmarks/raboniel/*.py
benchmarks/raboniel/finite/*.kiss
benchmarks/raboniel/finite/*.tsl
benchmarks/raboniel/finite/*.tlsf
benchmarks/raboniel/finite/*.py

*.csv
*.tex
